$color:rgb(212,86,73);
$color2:white;
$breakpoint-tablet:768px;
$breakpoint-desktop:1024px;

.footer-nav {
  background-color: black;

  ul {
    width: 100%;
    display: flex;
flex-direction: row;
    padding: 5px 0;
    justify-content: space-around;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

    li {
      font-size: 8px;
      list-style: none;
      text-decoration: none;

      @media (min-width: $breakpoint-tablet) {
        width: 100%;
        font-size: 12px;

        @media (min-width: $breakpoint-desktop) {
          font-size: 14px;
          font-weight: bolder;
        }
      }

      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  .subscribe {
    width: 100%;
   
@media (min-width: $breakpoint-tablet) {
 display: flex;
    justify-content: space-around;
    align-items: center;
}

    div {
      h5 {
        color:$color2;
        font-size: 10px;
        text-align: center;

        @media (min-width: $breakpoint-tablet) {
          font-size: 17px;
        }
      }

      input {
        width: 40%;
        padding: 3px 0;
        border: 1px solid gray;
        background-color: black;
margin-left:30%;

        @media (min-width: $breakpoint-tablet) {
          width: 150px;
margin-left: 0;
        }
      }

      button {
        margin-left: -5px;
        padding: 3px 7px;
        background-color: gray;

        @media (min-width: $breakpoint-tablet) {
          padding: 3px 15px;
        }
      }

      p {

        color: $color2;
        font-size: 12px;
        width: 200px;
        text-align: center;
margin:0 auto;
padding-bottom: 10px;

        @media (min-width: $breakpoint-tablet) {
          font-size: 12px;
          width: 200px;

          @media (min-width: $breakpoint-desktop) {
            font-size: 13px;
          }
        }
      }
    }
  }
}

.send { 
 @media (min-width: $breakpoint-tablet) {
margin-top: -30px;

}
  
}

.contact {
  margin-top: -10px;
}

.bottom-nav {
  width: 100%;
  display: flex;
flex-direction: row;
  justify-content: space-between;
  background-color: #1F1F1F;
color:$color2;

  @media (min-width: $breakpoint-desktop) {
    justify-content: space-around;
  }

  .icons {
    width: 30%;
    display: flex;
flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;

    @media (min-width: $breakpoint-tablet) {
      font-size: 15px;
    }

  }
}

footer .bottom-nav .bottom-left-nav {
  p {
    width: 70%;
    font-size: 8px;
    margin-left: 50px;

    @media (min-width: $breakpoint-tablet) {
      font-size: 12px;
      width: 80%;

      @media (min-width: $breakpoint-desktop) {
        font-size: 15px;
      }
    }
  }
}
