@import "header";
@import "footer";
$breakpoint-tablet:768px;
$breakpoint-desktop:1024px;

main{
div{ 

h1{
color:#993333;
margin-left:20px;
@media (min-width:$breakpoint-tablet){
margin-bottom: -20px;
}
@media (min-width:$breakpoint-desktop){
margin-left: 12%;
margin-bottom: -20px;
}
}
ul{
li{
width:100%;
list-style: none;
padding:10px;
border:1px solid gray;
margin-top:5px;
text-align: center;
margin-left:-20px;
}

}
button{
width:200px;
padding:10px 20px;
background-color: $color;
float:right;

margin-top: -5px;
color:white;
@media (min-width:$breakpoint-desktop){
margin-right: 10%;

}

}

}
button{
width:100%;
padding:10px;
font-size: 20px;
font-weight: bold;
letter-spacing: 10px;
@media (min-width:$breakpoint-desktop){
width:80%;
margin-left: 10%;
}

}
div {
h2{
color:#993333;
text-align: center;
font-size: 17px;
}
img{
width: 100%;
@media (min-width:$breakpoint-tablet){
height: 400px;
}
@media (min-width:$breakpoint-desktop){
width: 90%;
height: 400px;
margin-left: 5%;

}

}

}
p{
margin-top: 10px;
clear: right;
@media (min-width:$breakpoint-desktop){
width: 90%;
margin-left: 5%;
}

}
}
@media (min-width:$breakpoint-tablet){
.list{
display: grid;
grid-template-columns: 1fr 1fr;
@media (min-width:$breakpoint-desktop){
width: 80%;
margin-left: 10%;

}

}

}