* {
  box-sizing: border-box;
}

body {
  background-image: url("Assets/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  background-color: #993333;
  margin-top: -30px;
}
header h1 {
  text-align: center;
  color: white;
  font-size: 40px;
}
header nav {
  width: 300px;
  margin: 0 auto;
  padding-bottom: 15px;
}
header nav i {
  padding-left: 50px;
  color: white;
}
header nav span {
  display: none;
}

main h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 5vw;
  margin-top: 60px;
}
main form {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
  opacity: 0.7;
}
main form label {
  text-transform: uppercase;
}
main form input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
}
main form input[type=button] {
  width: 100%;
  background-color: #993333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  main form input[type=button] {
    width: 100px;
    font-size: 17px;
  }
}
main form ul {
  list-style: none;
  display: none;
}
main form ul li {
  padding: 10px;
  border-bottom: 1px solid gray;
}
main form ul li a {
  color: black;
  text-decoration: none;
}
main div {
  width: 200px;
  margin: 20px auto 0 auto;
}
main div button {
  padding: 10px;
}
@media (min-width: 768px) {
  main div button {
    width: 300px;
    padding: 20 40px;
    font-size: 17px;
  }
}

section h2 {
  margin-top: 20px;
  color: #993333;
  font-size: 13px;
  text-align: center;
}
@media (min-width: 768px) {
  section h2 {
    font-size: 25px;
  }
}
section div i {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  section div i {
    font-size: 30px;
  }
}
section div h3 {
  font-size: 13px;
  text-align: center;
}
@media (min-width: 768px) {
  section div h3 {
    font-size: 20px;
  }
}
section div p {
  width: 90%;
  font-size: 12px;
  color: gray;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 768px) {
  section div p {
    font-size: 17px;
  }
}

.register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #993333;
  margin-top: 20px;
}
.register div {
  padding: 20px;
}
.register div h4 {
  color: #f2f2f2;
}
.register div p {
  color: white;
}
.register div button {
  color: #993333;
  padding: 5px;
}
.register img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.register1 {
  background-color: #3399ff;
  margin-top: 0;
}

.register2 {
  background-color: gray;
  margin-top: 0;
}

.footer-nav {
  background-color: black;
}
.footer-nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.footer-nav ul li {
  font-size: 8px;
  list-style: none;
  padding: 5px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer-nav ul li {
    font-size: 12px;
  }
}
.footer-nav ul li a {
  color: white;
  text-decoration: none;
}
.footer-nav .subscribe {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-nav .subscribe div h5 {
  color: white;
  font-size: 10px;
  text-align: center;
}
@media (min-width: 768px) {
  .footer-nav .subscribe div h5 {
    font-size: 17px;
  }
}
.footer-nav .subscribe div input {
  padding: 3px;
  border: 1px solid gray;
  background-color: black;
}
.footer-nav .subscribe div button {
  margin-left: -5px;
  padding: 3px 15px;
  background-color: gray;
}
.footer-nav .subscribe div p {
  color: white;
  font-size: 8px;
  width: 90px;
  text-align: center;
}
@media (min-width: 768px) {
  .footer-nav .subscribe div p {
    font-size: 12px;
    width: 200px;
  }
}

.send {
  margin-top: -30px;
}

.contact {
  margin-top: -10px;
}

.bottom-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: gray;
}
.bottom-nav .icons {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 10px;
}
@media (min-width: 768px) {
  .bottom-nav .icons {
    font-size: 15px;
    width: 30%;
  }
}
.bottom-nav div p {
  font-size: 8px;
}
@media (min-width: 768px) {
  .bottom-nav div p {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header h1 {
    padding-left: 40px;
  }
  header nav {
    width: 400px;
    padding-top: 20px;
    justify-content: end;
  }
  header nav i {
    font-size: 25px;
    padding-left: 70px;
  }

  form {
    width: 80%;
    display: flex;
    margin-left: 10%;
  }

  .how-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
