* {
  box-sizing: border-box;
}

body {
  background-image: url("https://www.google.com/search?q=home+image&sxsrf=ALeKk02vJ4BcEjCM8QJgSBq5G7yJlylx0Q:1615194459853&tbm=isch&source=iu&ictx=1&fir=-9N0l856EaVRmM%252C7fs5x1A3Pcm4wM%252C_&vet=1&usg=AI4_-kTEgoJeFwTiXb_Q3jiMOi-EmpZvNg&sa=X&ved=2ahUKEwj55ZagrKDvAhXST8AKHQZcDTAQ9QF6BAgHEAE#imgrc=-9N0l856EaVRmM");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  background-color: #993333;
  margin-top: -30px;
}
header h1 {
  text-align: center;
  color: white;
  font-size: 40px;
}
header nav {
  width: 300px;
  margin: 0 auto;
  padding-bottom: 15px;
}
header nav i {
  padding-left: 50px;
  color: white;
}
header nav span {
  display: none;
}

main div img{
width: 100%;
height: auto;
margin-top:20px;

}
main div address{
margin-top: 10px;
}

main div p{
width:30%;
background-color: #993333;
color:white;
padding:10px;
text-align: center;

}